* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background: #fdfbef;
}

:root {
    --primary: #2b1105;
}
.container {
    padding: 0 24px;
}
.container-border {
    border: 1px solid #fff;
    padding: 12px;
    height: 100%;
}
.frame-01 {
    height: 100dvh;
    background-image: url(asstes/couple-bg.webp);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 24px;
}
.frame-01 .logo {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.frame-02 {
    height: 100dvh;
    background-image: url(asstes/couple-bg.webp);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 24px;
    opacity: 0;
}
.frame-02 .ver {
    padding: 24px;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: end;
    color: #fdfbef;
    flex-direction: column;
    gap: 24px;
    font-size: 20px;
    font-weight: 600;
}

.frame-03 {
    height: 100dvh;
    background-image: url(asstes/couple-bg.webp);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 24px;
}
.frame-03 .save-date {
    display: flex;
    flex-direction: column;
    color: #fff;
    gap: 20px;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.frame-03 .l-divider {
    background-color: #fdfbef;
    height: 80px;
    width: 2px;
}
.save-date .date {
    font-size: 60px;
    text-align: center;
    font-family: italiana;
}
.title-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.title-box p {
    font-size: 1.125rem;
}

.convite {
    height: 100dvh;
    background-image: url(asstes/bg-paper.webp);
    color: var(--primary);
}

.convite .img {
    margin-top: 24px;
    width: 100%;
}
.convite .title {
    margin-top: 12px;
    text-align: center;
    font-size: 40px;
    font-family: 'Italiana', sans-serif;
    letter-spacing: 5px;
}
.convite .date {
    margin-top: 32px;
    display: flex;
    justify-content: center;
    gap: 16px;
    align-items: center;
}
.convite .date .center {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 0 16px;
    align-items: center;
    border-left: solid 2px var(--primary);
    border-right: solid 2px var(--primary);
}

.convite .interagir {
    margin-top: 24px;
}
.convite .interagir .btn-box {
    display: flex;
    justify-content: center;
    gap: 16px;
}
.convite .interagir .btn-box .icon {
    background-color: var(--primary);
    color: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.convite .interagir .btn-box .icon i {
    font-size: 24px;
}
.convite .interagir .desciption {
    margin-top: 24px;
    display: flex;
    gap: 12px;
    justify-content: center;
}

.convite .box-name {
    width: 80px;
}
.convite .left {
    text-align: end;
}
.convite .desciption i {
    font-size: 24px;
    animation: bounce 0.5s infinite alternate;
    color: var(--primary);
}
/* Animações */
@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-5px);
    }
}
