* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background: #fdfbef;
}

:root {
    --primary: #2b1105;
    --branco: #fff;
}
.container {
    padding: 0 24px;
}
.container-border {
    border: 1px solid #fff;
    padding: 12px;
    height: 100%;
}
.frame-01 {
    height: 100dvh;
    background-image: url(asstes/couple-bg.webp);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 24px;
    display: none;
}
.frame-01 .logo {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.frame-02 {
    height: 100dvh;
    background-image: url(asstes/couple-bg.webp);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 24px;
    opacity: 0;
    display: none;
}
.frame-02 .ver {
    padding: 24px;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: end;
    color: #fdfbef;
    flex-direction: column;
    gap: 24px;
    font-size: 20px;
    font-weight: 600;
}

.frame-03 {
    height: 100dvh;
    background-image: url(asstes/couple-bg.webp);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 24px;
    display: none;
}
.frame-03 .save-date {
    display: flex;
    flex-direction: column;
    color: #fff;
    gap: 20px;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.frame-03 .l-divider {
    background-color: #fdfbef;
    height: 80px;
    width: 2px;
}
.save-date .date {
    font-size: 60px;
    text-align: center;
    font-family: italiana;
}
.title-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.title-box p {
    font-size: 1.125rem;
}

.convite {
    height: 100dvh;
    background-image: url(asstes/couple-bg.webp);
    color: #fff;
}

.convite-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0 24px;
}
.convite .title {
    text-align: center;
    font-size: 40px;
    font-family: 'Italiana', sans-serif;
    letter-spacing: 5px;
}
.convite .title-box {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
}
.convite .title-box h3 {
    text-transform: uppercase;
    font-size: 14px;
}
.convite .date {
    margin-top: 32px;
    display: flex;
    justify-content: center;
    gap: 16px;
    align-items: center;
}
.convite .date .center {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 0 16px;
    align-items: center;
    border-left: solid 2px var(--branco);
    border-right: solid 2px var(--branco);
}

.convite .interagir {
    margin-top: 24px;
}
.convite .interagir .btn-box {
    display: flex;
    justify-content: center;
    gap: 16px;
}
.convite .interagir .btn-box .icon {
    background-color: var(--branco);
    color: var(--primary);
    width: 60px;
    height: 60px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.convite .interagir .btn-box .icon i {
    font-size: 24px;
}
.convite .interagir .desciption {
    margin-top: 24px;
    display: flex;
    gap: 12px;
    justify-content: center;
}

.convite .box-name {
    width: 80px;
}
.convite .left {
    text-align: end;
}
.convite .desciption i {
    font-size: 24px;
    animation: bounce 0.5s infinite alternate;
    color: var(--branco);
}
a {
    text-decoration: none;
}
/* Animações */
@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-5px);
    }
}

dialog {
    margin: auto;
    border: none;
    width: 300px;
    padding: 32px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
}

.box-modal {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.box-modal i {
    font-size: 32px;
    color: var(--primary);
}
.btn-modal {
    background: var(--primary);
    padding: 4px;
    color: var(--branco);
    border-radius: 4px;
    position: absolute;
    top: 4px;
    right: 4px;
    height: 32px;
    width: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pix-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 4px;
    font-weight: 600;
}

#copyButton {
    padding: 12px;
    border: 4px;
    border: none;
    background: var(--primary);
    color: var(--branco);
    font-family: italiana;
    font-weight: 600;
}
