* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.italiana {
    font-family: 'Italiana', sans-serif;
    font-weight: 400;
    font-style: normal;
}
li {
    list-style: none;
    margin-bottom: 0.5rem;
}
ul {
    margin-top: 40px;
}
ul li {
    display: flex;
    justify-content: space-between;
}
ul li [chek] {
    display: flex;
    justify-content: space-between;
}

.container {
    margin-left: 16px;
    padding-right: 16px;
}

.op-2 {
    opacity: 0.2;
}
