* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.italiana {
    font-family: 'Italiana', sans-serif;
    font-weight: 400;
    font-style: normal;
}
li {
    margin-bottom: 1rem;
    margin-left: 24px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    text-align: right;
}
ol {
    margin-top: 40px;
}
ol li div {
    display: flex;
    justify-content: space-between;
}
input[type='checkbox'] {
    opacity: 1;
    width: 20px;
    height: 20px;
}

.container {
    margin-left: 16px;
    padding-right: 16px;
}

.op-2 {
    opacity: 0.2;
}
